body {
    font-family: TimesNewRoman;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

main h2 {
    text-align: center;
}

main {
    width: 100%;
    font-size: 20px;
}

.full-name {
    font-size: 27px;
    color: #262626;
    text-transform: uppercase;
    font-weight: unset;
}

.job-title {
    font-size: 16px;
    color: #5b5b5b;
    text-transform: uppercase;
}

.columns {
    display: flex
}

.column {
    flex: 1
}

.photo {
    width: 50%;
}

.column ul {
    padding: 0px;
    margin-top: 0px;
    margin-button: 0px;
}

.footnote__item {
    list-style-type: none;
    font-size: 16px;
    color: #3d3d3d;
}

.footnote__item:nth-child(odd) {
    background-color: #e5e5e5
}

.title-info {
    background-color: #e5e5e5;
    overflow:hidden;
    display: flex
}

.sub-title {
    font-weight: bold;
}

.organization-name {
    font-weight: bold;
}

.period {
    margin-left: auto;
    font-weight: unset;
}

.describe-name {
    font-style: italic;
}